{% extends 'generictemplate.html' %}
{% block links %}  <link rel="shortcut icon" href="{{ url_for('static', filename='homework.png') }}">{% endblock %}
{% block title %} <title>Book page</title> {% endblock %}
{%  block styles %} 
<style>
  body{
    background-image: url('static/backgroundimage.jpg');
  }
</style>
{% endblock %}
{% block body %}
    
<div class="container">
  <div class="jumbotron">
  <h2 style = "color: blue;text-align: center;"> Book page</h2>
  <p style = "color: black;text-align: center;">Below are the book details</p>
  <nav class="navbar navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand">{{ user }}</a>
    <form class="form-inline">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" formaction = '/logout'>Logout</button>
    </form>
  </nav>

    <div class="card">
      <ul>
        {% for item in data %}
        <img src = "http://covers.openlibrary.org/b/isbn/{{item.isbn}}.jpg" width = "250" height = "250" alt = {{item.title}}/> 
        <li class ="list-group-item"><b>Isbn:</b>    {{item.isbn}}</li>
        <li class = "list-group-item"><b>Title:</b>  {{item.title}}</li>
        <li class = "list-group-item"><b>Author:</b> {{item.author}}</li>
        <li class = "list-group-item"><b>Year:</b>   {{item.year}}</li>
        {% endfor %}
      </ul>
    </div>

    <div >
      <ul class="list-group">
        <li class="list-group-item" style = "color:blue; text-align: center"><b>Review</b></li>
      </ul>
    </div>
   </div>

  </div>
  {% endblock %}
