<!-- included similar tags as a extends from generic template -->
{% extends "generictemplate.html" %}
<!--This is for the icon display-->
{% block links %} <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}"> 
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock %}
{% block title %}<title>Login Page</title>{% endblock %} 
{%  block styles %} 
<style>
    body {
        font-family: Arial;
        background-image: url('static/girlbook.gif'); background-size: cover; background-repeat: no-repeat;
        }

        * {
        box-sizing: border-box;
        }

        form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1; 
        opacity: 0.5;

        }

        form.example button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #2196F3;
        color: white; 
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
        }

        form.example button:hover {
        background: #0b7dda;
        }

        .my-custom-scrollbar {
            position: relative;
            height: 300px;
            overflow: auto;
        }
        .table-wrapper-scroll-y {
        display: block;
        }
</style>
{% endblock %} 
{% block scripts%}
<script type = "text/javascript"> 

// Search Form
function SearchApi( ) {
  var xhr = new XMLHttpRequest();
  var query = document.getElementById('query').value;
  xhr.open("POST", "/api/search", true);
  xhr.setRequestHeader("Content-type", "application/json");
  let json = JSON.stringify ({
    "query" : query
  });
  xhr.send(json);
  xhr.onload = () => {
    if (xhr.status == 200) {
      var data = JSON.parse(xhr.responseText);
      var htmltext = "<br><h1 id = 'display' style = 'text-align:center'>Books</h1><br><div class='container'>"+
            "<div class='table-wrapper-scroll-y my-custom-scrollbar'>"+"<table xlass = 'table' border = 1 align = 'center' class='table table-striped'>"+
            "<th class='bg-secondary text-white'> {{ 'ISBN' }}</th>"+"<th class='bg-secondary text-white'> {{ 'Title' }}</th>"+
            "<th class='bg-secondary text-white'> {{ 'Author' }}</th>"+"<th class='bg-secondary text-white'> {{ 'Year' }}</th>"+
            "<th class='bg-secondary text-white'> {{ 'View Book Page' }}</th>";
            for(var i = 0; i < data.length; i++) {
              htmltext = htmltext + "<tr>" + "<td>"+data[i]["isbn"] +"</td>"+ "<td>" + data[i]["title"] +"</td>"+
              "<td>" + data[i]["author"] +"</td>"+ "<td>" + data[i]["year"] +"</td><td><button onclick = 'apiBook(this)' id = "+
              data[i]["isbn"] + ">View Book</button></td></tr>"
            }
      htmltext = htmltext + " </tbody> </table> </div></div>"
      document.getElementById("htmltext").innerHTML = htmltext;
    } else if(xhr.status == 404) {
      alert("Page not found");
      console.log("Error: Page Not Found");
    } else {
      console.log("Error: Please Try again");
      alert("Please try again");
    } 
    console.log(data);
  }
}
    
// Book Form
function apiBook(e) {
var isbn = e.id;
  var url = "/api/book?isbn="+isbn ;
  var xhr = new XMLHttpRequest();
  
  console.log(isbn);
  xhr.open("GET", url, true);
  xhr.setRequestHeader("Content-type", "application/json");
  let json = JSON.stringify ({
    "isbn" : isbn
  });
  xhr.send();
  xhr.onload = () => {
    if (xhr.status == 200) {
      var data = JSON.parse(xhr.responseText);
      console.log(data);
      var htmltext = "<h1>Book Details</h1>"
      htmltext = htmltext+"<div class='card' style = 'width:50rem;'><ul>"
      htmltext= htmltext + "<img src = 'http://covers.openlibrary.org/b/isbn/ "+ data.isbn + ".jpg ' width = '250' height = '250' alt = "+ data.title +"/> <li class ='list-group-item'><b>Isbn:</b>"+"<div id='isbnNo'>" + data.isbn+"</div>"+"</li>" + "<li class = 'list-group-item'><b>Title:</b>"+ data.title+"</li>"+        
        "<li class = 'list-group-item'><b>Author:</b>"+data.author+"</li>"+
        "<li class = 'list-group-item'><b>Year:</b>"+ data.year+"</li>"
    
      htmltext=htmltext + "</ul></div>"
      console.log(data.reviews);
      
      document.getElementById("BookResults").innerHTML = htmltext;
      document.getElementById("msg_display").innerHTML;
    }
    else if(xhr.status == 404) {
      alert("Error:  No Book Found");
      console.log("Error:  No Book Found");
    } else {
      console.log(xhr.status)
      var data = JSON.parse(xhr.responseText);
      console.log(data)
      document.getElementById("msg_display").innerHTML = "You have already reviewed the book";
      alert("Error: Please Try again");
      console.log("Error: Please Try again");
    }
  }
}

//Review 
function reviewapi() {
  var isbn = document.getElementById("isbnNo").innerText;;
  console.log(isbn)
    var email= document.getElementById("email").innerText
    // console.log(temp);
    var xhr = new XMLHttpRequest();
    var form = new FormData(document.getElementById("reviewform"));
    var rating = form.get("rate");
    var comment=form.get("review")
    xhr.open("POST", "/api/submitReview?isbn="+isbn, true);
    xhr.setRequestHeader("Content-type", "application/json");
    let json = JSON.stringify ({
    "rate": rating,
    "review":comment,
    "email":email});
  xhr.send(json);
  xhr.onload = () => {
    if (xhr.status == 200) {
      var data = JSON.parse(xhr.responseText);
      var htmltext = "</ul></div>"
      console.log(data.reviews);
      htmltext=htmltext+"<div><h1> Reviews</h1>"+"<tr>"+"<div class='my-custom-scrollbar'>"
      for(var i = 0; i < data.reviews.length; i++) {
      htmltext=htmltext+"<h1 style = 'text-align:center'></h1>"+"<div class='card' style='width: 50rem; align:center'>"+
      "<ul class='list-group list-group-flush'>"+"<li class='list-group-item'><b text-primary>&#x1F464: </b>"+data.reviews[i]["email"]+"</li>"+
      "<li class='list-group-item'><b text-primary>&#11088: </b>"+data.reviews[i]["rate"]+"</li>" +"<li class='list-group-item'><b text-primary>&#x1F4AC: </b>"+data.reviews[i]["review"]+"</li>"
      }
      htmltext = htmltext + " </ul></div></tr></div></div>"   
      document.getElementById("msg_display").innerHTML = htmltext;
      console.log(data)
    } else  {
        console.log(xhr.status)
        var data = JSON.parse(xhr.responseText);
        console.log(data)
        document.getElementById("msg_display").innerHTML = "You have already reviewed the book";
    }
    
  }
  document.getElementById("reviewform").reset();
}

</script>
{% endblock %}
{% block body %}
        <!--Navbar which displays user email and logout button-->
        <nav class="navbar navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand text-primary" id="email"> {{ user }}</a>
        <form class="form-inline">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" formaction = '/logout'>Logout</button>
        </form>
        </nav>
        </br>
        <!--This is for search area with icon search-->

        <div class="mx-auto">

            <form class="example" id = "searchapi" style="margin:auto;max-width:700px" onsubmit = "event.preventDefault(); SearchApi()">
                <input type="text" placeholder="Search.." name="Search" id = "query">
                <button type="submit" id="#display"><i class="fa fa-search"></i></button>
            </form>
        </div>
        </br>
        </br>
        <div id = "htmltext"></div>
        <div id = "BookResults" align = "center"></div>
        <div id = "msg_display" align = "center"></div>
        <div align = "center">
          <form id = "reviewform" method="POST" onsubmit="event.preventDefault(); reviewapi()" >
              <div style = "padding-bottom: 18px; font-size:24px ;"><h1>Book Review</h1></div>
              <!-- The rating is submitted from the user by pressing on these stars -->
              <div style="padding-bottom: 18px;"><h3>Rate this book</h3><br/>
              </div>
              <div class="rate" align = "center">
                  <input type="radio" id="star5" name="rate" value="5" />
                  <label for="star5" title="text">5</label>
                  <input type="radio" id="star4" name="rate" value="4" />
                  <label for="star4" title="text">4 </label>
                  <input type="radio" id="star3" name="rate" value="3" />
                  <label for="star3" title="text">3 </label>
                  <input type="radio" id="star2" name="rate" value="2" />
                  <label for="star2" title="text">2 </label>
                  <input type="radio" id="star1" name="rate" value="1" />
                  <label for="star1" title="text">1 </label>
              </div>
              <br></br>
          <!-- The User can write the review here -->
                <div style="padding-bottom: 18px; align-content: flex-start;"><h3>Review</h3<br/>
                    <textarea  style="width : 500px;" rows="6" class="form-control" name="review" ></textarea>
                </div>
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"  id="isbn"  >Submit</button>
                <!--<div style="padding-bottom: 18px;"><input name="skip_Submit" value="Submit" type="submit"/></div>-->
                <p style="text-align: center; color: primary;" id = "msg_display"></p>
          </form> 
        </div>    
{% endblock %}
