<!-- included similar tags as a extends from generic template -->
{% extends "generictemplate.html" %}
{% block links %} <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}"> {% endblock %}
{% block title %}<title>Registration Page</title>{% endblock %}   
{%  block styles %}
<script type = "text/javascript">
function checkPassword(str)
  {
  var validpwd = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$/;
  return validpwd.test(str);
  }
function checkEmail(mail) {
    if(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/.test(mail)) {
        return true
    }
    return false
}
function checkForm(form) {
    if(form.email.value == "") {
        document.getElementById("textdisplay").innerHTML = "Error: Name cannot be blank Please, fill this field!";
        return false;
    } else if(!checkEmail(form.email.value)) {
        document.getElementById("textdisplay").innerHTML = "Please enter valid email address";
        return false;
    } else {
        if(form.pswd.value != "") {
            if(!checkPassword(form.pswd.value)) {
                document.getElementById("textdisplay").innerHTML="Given password should have at least 6 characters, with at least one uppercase letter, one lowercase letter, one number and one symbol";
            return false;
            }
        } else {
            document.getElementById("textdisplay").innerHTML = "Error: Password cannot be blank";
            return false;
        }
    } 
    return true;
}
</script>

<!-- Background image -->
<style>
    body {
        background-image: url('static/doodlebookbg.jpg'); background-size: cover; background-repeat: no-repeat;
        }
</style>  
{% endblock %} 

<!-- body block -->  
{% block body %} 

        <!--Navbar with title-->
        <nav class="navbar navbar-expand-sm bg-primary justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
            <h1 style="text-light">Project 1</h1>
            </li>
        </ul>
        </nav>
        <br>

        <!--Header-->
        <div class="container">
        </br>
            <h3 class="text-primary">Registration Page</h3>
        </br>

        <!--bootstrap form with name, email and password as a feilds-->
            <form method="POST" action = "/register" onsubmit="return checkForm(this);">
                <div class="form-group">
                    <label for="name"><b>Name:</b></label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
                </div>
            </br>
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>
            </br>
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                </div>
            </br>
                <div class="form-group form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="remember"> Remember me
                  </label>
                </div>
            </br>

            <!--Login and Registration buttons -->
                <button type="submit" class="btn btn-primary"><b>Register</b></button>
                <button type="submit" class="btn btn-primary" formaction = "/authen"><b>Login</b></button>
                <p style="text-align: center; color: primary;" id = "textdisplay"></p>
            </form>  
            </br>

            <!--Alerts using jinja template-->
            {% if message %}
                <div class = "container" style="text-align: center;">
                <div class="alert alert-success alert-dismissible">
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{message}}
                </div>
                </div>
            </br>
            {%endif%}
            {% if errormessage1 %}
                <div class = "container" style="text-align: center;">
                <div class="alert alert-danger alert-dismissible">
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{errormessage1}}
                </div>
                </div>
            {%endif%}
        </div>
 {% endblock %}   
