<!DOCTYPE html>
<html>
    <head>
        <title>Registration Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <style>
            input[type=text] {
                background-color: chartreuse;
            }
        </style>
    </head> 
    <body>
        <div class="container">
        </br>
            <h3>Registration Page</h3>
        </br>
            <form action="http://localhost:5000/register" method = "POST">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
                  </div>
            </br>
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>
            </br>
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                </div>
            </br>
                <div class="form-group form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="remember"> Remember me
                  </label>
                </div>
            </br>
                <button type="submit" class="btn btn-primary">Register</button>
                <button type="submit" class="btn btn-primary" formaction = "http://127.0.0.1:5000/authen"><b>Login</b></button>
            </form>  
            </br>
            {% if message %}
                <div class = "container" style="text-align: center;">
                <div class="alert alert-success alert-dismissible">
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{message}}
                </div>
                </div>
            </br>
            {%endif%}
            {% if message1 %}
                <div class = "container" style="text-align: center;">
                <div class="alert alert-danger alert-dismissible">
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{message1}}
                </div>
                </div>
            {%endif%}
        </div>
    </body>
</html>
